@model IEnumerable<ToDo_Test_Project.Models.ToDoDB>
@{
    ViewBag.Title = "Index";
}

<span class="align-right">@Html.ActionLink("Add New List Item", "Create")</span>
<table class="to-do-table">

    @foreach (var item in Model)
    {
        <tr>
            <th class="to-do-head" style="width:500px;">
                <span class="to-do-top">@Html.DisplayFor(modelItem => item.Name)</span>
                ( @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) )
            </th>
            <th class="to-do-head">Due: @Html.DisplayFor(modelItem => item.DueDate)
            </th>
        </tr>
        <tr>
            <td colspan="2" class="to-do-details">
                @Html.DisplayFor(modelItem => item.Details)
            </td>
        </tr>
    }

</table>
